@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
.notecontainer
{
   height: 90vh;
   width: 100%;
   padding: 50px 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.imgcontainer
{
   background-image: url("/public/img/react2.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 100%;
}
.content h1
{
font-size: 50px;
letter-spacing: 1px;

}

.content .mybtn
{
   display: inline-block;
   background-color: black;
   color: white;
   padding: 8px 10px;
   border: none;
   margin-right: 20px;
}